.center {
    padding: 200px 0px;
    color: azure;
    text-align: center;
}

.button {
    padding: 15px;
    font-size: large;
    border: solid 2px black;
    position: inherit;
    margin: 10px;
}

body {
  background: blueviolet;  
}

.red {
    color: yellow;
}

.text {
    position: fixed;
    top: 0px;
    right: 0px;
    margin-right: 20px;
    font-family: cursive;
    color: yellow;
    animation-timing-function: ease-in
}